import '~bootstrap/scss/bootstrap.scss';

.bigCounter div{
    display: inline-block;
    margin: auto;
    text-align: center;
}
.bigCounter div{
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    height: 20px:
    background: #101010;
    color:white;
    padding: 10px;
}
/*


